<div *ngIf="isLoading">
    Lade...
</div>

<div *ngIf="!isLoading && noItems" class="card">
    <p>Keine Daten verfügbar</p> 
</div>

<div *ngIf="!isLoading">
    <ul class="nav nav-tabs">
        <li class="nav-item" *ngFor="let day of days">
            <a class="nav-link" [ngClass]="{ 'active': isActive(day) }" aria-current="page" (click)="setDay(day)">{{ convertDayString(day) | toLocalString:'shortDate'}}</a>
        </li>
    </ul>

    <div class="m-3">
        <app-day></app-day>
    </div>
</div>