<div *ngIf="!hasTracks && !isMobile" class="d-flex ">
    <div class="flex-sm-fill">
    <div *ngFor="let session of sessions">
        <app-session [session]="session" [margin]="parallelSessions.length > 0"></app-session>
    </div>
</div>
    <div *ngIf="parallelSessions.length>0" class="flex-sm-fill">
        <div *ngFor="let pSession of parallelSessions">
            <app-session [session]="pSession" ></app-session>
        </div>
    </div>
</div>

<div *ngIf="!hasTracks && isMobile" class="d-flex flex-column">
    <div class="flex-sm-fill">
    <div *ngFor="let session of sessions">
        <app-session [session]="session" [margin]="parallelSessions.length > 0"></app-session>
    </div>
</div>
    <div *ngIf="parallelSessions.length>0" class="flex-sm-fill">
        <div *ngFor="let pSession of parallelSessions">
            <app-session [session]="pSession" ></app-session>
        </div>
    </div>
</div>

<div class="d-flex" *ngIf="hasTracks && !isMobile">
    <div class="d-lex flex-column" *ngFor="let track of tracks" [ngStyle]="{ 'width': trackWidth }">
        <h3>
            {{ track }}
        </h3>
    
        <div class="mt-2" *ngFor="let session of getTrackSessions(track)">
            <app-session [session]="session"></app-session>
        </div>
    </div>
</div>

<div class="d-flex flex-column" *ngIf="hasTracks && isMobile">
    <div class="d-lex flex-column" *ngFor="let track of tracks">
        <h3>
            {{ track }}
        </h3>
    
        <div class="mt-2" *ngFor="let session of getTrackSessions(track)">
            <app-session [session]="session"></app-session>
        </div>
    </div>
</div>